flows/JQA/heatwave complicado
[{"id":"84fde0f8.492788","type":"tab","label":"Heatwaves"},{"id":"4427fbcf.6f42d4","type":"inject","z":"84fde0f8.492788","name":"Execute UIaaS Request Morning","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"20 10 * * *","once":false,"x":330,"y":462,"wires":[["39e3e2e4.3789de"]]},{"id":"39e3e2e4.3789de","type":"omiNodeV9","z":"84fde0f8.492788","name":"Read O-MI Node Lyon Heat Wave Mitigation","path_InfoItem":"https://biotope-omi.alpha.grandlyon.com/Objects/Organization:Metropole-de-Lyon:v1-0-0","token":"","operations":"Read","ttl":"40","interval":"","callback":"","newest":"","oldest":"","begin":"","end":"","value":"","reqID":"","metadata":true,"readTypes":"read1time","x":686.1691284179688,"y":450.4285583496094,"wires":[["8fc3bf0b.0c1af8"]]},{"id":"8fc3bf0b.0c1af8","type":"xml","z":"84fde0f8.492788","name":"Lyon O-DF Structure to JSON","attr":"","chr":"","x":858.0263061523438,"y":576.9999694824219,"wires":[["c36d2632.1d1208"]]},{"id":"c36d2632.1d1208","type":"python3-function","z":"84fde0f8.492788","name":"Extract Response O-MI Node Lyon HW","func":"import time\nfrom modules.extract import code\nfrom modules.extract import working\n\nresponse = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"return\"][0][\"$\"][\"returnCode\"];\nlyonHeatWaveInfoItem = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"msg\"][0][\"Objects\"][0][\"Object\"][0]\norganizationID = lyonHeatWaveInfoItem[\"id\"][0]\n \nnode.error (working(response))\nmsg[\"payload\"] = code(lyonHeatWaveInfoItem)\nreturn msg","outputs":1,"x":1107.3668212890625,"y":459.9998474121094,"wires":[["fb641e6e.38358","a6ac5f84.63b4d8","c8331771.5f6c78"]]},{"id":"24bd0f6e.2b75d8","type":"python3-function","z":"84fde0f8.492788","name":"Store on MongoDBTEMP","func":"# from modules.library import clean_netatmo_data2\nimport pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import insert_mongo\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nres = insert_mongo(db, collection, data, host)\n","outputs":1,"x":1420.4880981445312,"y":364.7039489746094,"wires":[[]]},{"id":"fb641e6e.38358","type":"python3-function","z":"84fde0f8.492788","name":"ReadFromMongoTEMP","func":"import pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import read_mongotemplong\nimport pandas as pd\n\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nsensor = 'Sensor:SL-T-P8'\nres = read_mongotemplong(db, collection, sensor, host)\n\nabc = res.to_json(orient='records')\ncol = res.to_json(orient='columns')\n\nmsg['payload'] = col\nreturn msg","outputs":1,"x":1490.154541015625,"y":418.1761169433594,"wires":[["27cfcb82.9a4bfc"]]},{"id":"27cfcb82.9a4bfc","type":"json","z":"84fde0f8.492788","name":"","x":1695.5714721679688,"y":391.5094909667969,"wires":[["96c54920.f53c78","7df60837.7c501"]]},{"id":"96c54920.f53c78","type":"python3-function","z":"84fde0f8.492788","name":"Excess Heat Factor","func":"from modules.heatwave import excessheatfactor\na = msg['payload']\nmsg[\"payload\"] = excessheatfactor(a)\nreturn msg","outputs":1,"x":1893.9049072265625,"y":277.045166015625,"wires":[["e7cc6e64.8eed1","9f4a4e96.761518"]]},{"id":"b05118b4.183298","type":"debug","z":"84fde0f8.492788","name":"HEATWAVE?","active":true,"console":"false","complete":"payload","x":2790.11962890625,"y":289.9380798339844,"wires":[]},{"id":"a6ac5f84.63b4d8","type":"worldmap","z":"84fde0f8.492788","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","path":"","x":1431.9049072265625,"y":552.4761047363281,"wires":[]},{"id":"ce0b3313.b571b","type":"python3-function","z":"84fde0f8.492788","name":"Store on MongoDBEHF","func":"# from modules.library import clean_netatmo_data2\nimport pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import insert_mongo\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nres = insert_mongo(db, collection, data, host)\n","outputs":1,"x":2156,"y":148,"wires":[[]]},{"id":"e7cc6e64.8eed1","type":"python3-function","z":"84fde0f8.492788","name":"ReadFromMongoEHF","func":"import pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import read_mongoEHF\nimport pandas as pd\n\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\n\nres = read_mongoEHF(db, collection, host)\n\nabc = res.to_json(orient='records')\ncol = res.to_json(orient='columns')\n\nmsg['payload'] = col\nreturn msg","outputs":1,"x":2162,"y":286,"wires":[["34740bab.d3498c"]]},{"id":"a05714f4.5e78a","type":"python3-function","z":"84fde0f8.492788","name":"Warning Preprocessor","func":"from modules.heatwave import heatwaveEHF\n\nTbefyest=msg['payload']['EHF']['0']\nTyest=msg['payload']['EHF']['1']\nTtoday=msg['payload']['EHF']['2']\nmsg[\"payload\"] = heatwaveEHF(Tbefyest,Tyest,Ttoday)\nreturn msg","outputs":1,"x":2522,"y":364,"wires":[["b05118b4.183298"]]},{"id":"c8331771.5f6c78","type":"debug","z":"84fde0f8.492788","name":"","active":true,"console":"false","complete":"false","x":1400.9999999999998,"y":247.99999999999994,"wires":[]},{"id":"9f4a4e96.761518","type":"debug","z":"84fde0f8.492788","name":"","active":true,"console":"false","complete":"false","x":2138.9999999999995,"y":71.99999999999999,"wires":[]},{"id":"1eae0451.eccd54","type":"debug","z":"84fde0f8.492788","name":"","active":true,"console":"false","complete":"false","x":2520.9999999999995,"y":227.99999999999994,"wires":[]},{"id":"34740bab.d3498c","type":"json","z":"84fde0f8.492788","name":"","x":2368,"y":268,"wires":[["1eae0451.eccd54","a05714f4.5e78a"]]},{"id":"7df60837.7c501","type":"debug","z":"84fde0f8.492788","name":"","active":true,"console":"false","complete":"false","x":1970,"y":492,"wires":[]}]
