flows/JQA/heatwave complicado
[{"id":"5492cb0f.81becc","type":"tab","label":"Heatwaves"},{"id":"12ded223.92965e","type":"inject","z":"5492cb0f.81becc","name":"Execute UIaaS Request Morning","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"20 10 * * *","once":false,"x":330,"y":462,"wires":[["54cecf91.e12048"]]},{"id":"54cecf91.e12048","type":"omiNodeV9","z":"5492cb0f.81becc","name":"Read O-MI Node Lyon Heat Wave Mitigation","path_InfoItem":"https://biotope-omi.alpha.grandlyon.com/Objects/Organization:Metropole-de-Lyon:v1-0-0","token":"","operations":"Read","ttl":"40","interval":"","callback":"","newest":"","oldest":"","begin":"","end":"","value":"","reqID":"","metadata":true,"readTypes":"read1time","x":686.1691284179688,"y":450.4285583496094,"wires":[["4ebcf1da.223418"]]},{"id":"4ebcf1da.223418","type":"xml","z":"5492cb0f.81becc","name":"Lyon O-DF Structure to JSON","attr":"","chr":"","x":858.0263061523438,"y":576.9999694824219,"wires":[["b2ecf6ca.06da3"]]},{"id":"b2ecf6ca.06da3","type":"python3-function","z":"5492cb0f.81becc","name":"Extract Response O-MI Node Lyon HW","func":"import time\nfrom modules.extract import code\nfrom modules.extract import working\n\nresponse = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"return\"][0][\"$\"][\"returnCode\"];\nlyonHeatWaveInfoItem = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"msg\"][0][\"Objects\"][0][\"Object\"][0]\norganizationID = lyonHeatWaveInfoItem[\"id\"][0]\n \nnode.error (working(response))\nmsg[\"payload\"] = code(lyonHeatWaveInfoItem)\nreturn msg","outputs":1,"x":1107.3668212890625,"y":459.9998474121094,"wires":[["357ebb97.b51474","865855a5.7c3938","aad000ac.75a2"]]},{"id":"8f673932.394e4","type":"python3-function","z":"5492cb0f.81becc","name":"Store on MongoDBTEMP","func":"# from modules.library import clean_netatmo_data2\nimport pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import insert_mongo\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nres = insert_mongo(db, collection, data, host)\n","outputs":1,"x":1420.4880981445312,"y":364.7039489746094,"wires":[[]]},{"id":"357ebb97.b51474","type":"python3-function","z":"5492cb0f.81becc","name":"ReadFromMongoTEMP","func":"import pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import read_mongotemplong\nimport pandas as pd\n\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nsensor = 'Sensor:SL-T-P8'\nres = read_mongotemplong(db, collection, sensor, host)\n\nabc = res.to_json(orient='records')\ncol = res.to_json(orient='columns')\n\nmsg['payload'] = col\nreturn msg","outputs":1,"x":1490.154541015625,"y":418.1761169433594,"wires":[["7e631f0a.b9b7f8"]]},{"id":"7e631f0a.b9b7f8","type":"json","z":"5492cb0f.81becc","name":"","x":1695.5714721679688,"y":391.5094909667969,"wires":[["49c30e62.e2da08","7bd9f701.5c6808"]]},{"id":"7bd9f701.5c6808","type":"python3-function","z":"5492cb0f.81becc","name":"Excess Heat Factor","func":"from modules.heatwave import excessheatfactor\nimport time\na = msg['payload']\nmonth = time.strftime('%m')\n\nif month == '1':\n    b = 6.75\nelif month == '2':\n    b = 8.125\nelif month == '3':\n    b = 11.125\nelif month == '4':\n    b = 14.0625\nelif month == '5':\n    b = 18.125\nelif month == '6':\n    b = 21.5\nelif month == '7':\n    b = 24.625\nelif month == '8':\n    b = 23.9375\nelif month == '9':\n    b = 20.75\nelif month == '10':\n    b = 15.125\nelif month == '11':\n    b = 10.0625\nelif month == '12':\n    b = 7.25\nmsg[\"payload\"] = excessheatfactor(a,b)\nreturn msg","outputs":1,"x":1893.9049072265625,"y":277.045166015625,"wires":[["2c952609.40c71a","ca29b728.a9aec8","57b6fe01.0ba37"]]},{"id":"83599959.89fcc8","type":"debug","z":"5492cb0f.81becc","name":"HEATWAVE?","active":true,"console":"false","complete":"payload","x":2790.11962890625,"y":289.9380798339844,"wires":[]},{"id":"865855a5.7c3938","type":"worldmap","z":"5492cb0f.81becc","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","path":"","x":1431.9049072265625,"y":552.4761047363281,"wires":[]},{"id":"57b6fe01.0ba37","type":"python3-function","z":"5492cb0f.81becc","name":"Store on MongoDBEHF","func":"# from modules.library import clean_netatmo_data2\nimport pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import insert_mongo\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nres = insert_mongo(db, collection, data, host)\n","outputs":1,"x":2156,"y":148,"wires":[[]]},{"id":"2c952609.40c71a","type":"python3-function","z":"5492cb0f.81becc","name":"ReadFromMongoEHF","func":"import pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import read_mongoEHF\nimport pandas as pd\n\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\n\nres = read_mongoEHF(db, collection, host)\n\nabc = res.to_json(orient='records')\ncol = res.to_json(orient='columns')\n\nmsg['payload'] = col\nreturn msg","outputs":1,"x":2162,"y":286,"wires":[["c84e53ce.71b7c8"]]},{"id":"d33d37e7.8fecc8","type":"python3-function","z":"5492cb0f.81becc","name":"Warning Preprocessor","func":"from modules.heatwave import heatwaveEHF\n\nTbefyest=msg['payload']['EHF']['0']\nTyest=msg['payload']['EHF']['1']\nTtoday=msg['payload']['EHF']['2']\nmsg[\"payload\"] = heatwaveEHF(Tbefyest,Tyest,Ttoday)\nreturn msg","outputs":1,"x":2522,"y":364,"wires":[["83599959.89fcc8"]]},{"id":"aad000ac.75a2","type":"debug","z":"5492cb0f.81becc","name":"","active":true,"console":"false","complete":"false","x":1400.9999999999998,"y":247.99999999999994,"wires":[]},{"id":"ca29b728.a9aec8","type":"debug","z":"5492cb0f.81becc","name":"","active":true,"console":"false","complete":"false","x":2138.9999999999995,"y":71.99999999999999,"wires":[]},{"id":"b852e06b.20c96","type":"debug","z":"5492cb0f.81becc","name":"","active":true,"console":"false","complete":"false","x":2520.9999999999995,"y":227.99999999999994,"wires":[]},{"id":"c84e53ce.71b7c8","type":"json","z":"5492cb0f.81becc","name":"","x":2368,"y":268,"wires":[["b852e06b.20c96","d33d37e7.8fecc8"]]},{"id":"49c30e62.e2da08","type":"debug","z":"5492cb0f.81becc","name":"","active":true,"console":"false","complete":"false","x":1970,"y":492,"wires":[]},{"id":"5b4f75fb.0386dc","type":"inject","z":"5492cb0f.81becc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":874.9999999999999,"y":229.28571428571428,"wires":[["357ebb97.b51474"]]}]
