flows/JQA/myflow
[{"id":"4bab2b03.ac21b4","type":"tab","label":"MyFlow"},{"id":"68d986f6.ed0ba","type":"inject","z":"4bab2b03.ac21b4","name":"Execute UIaaS Request Morning","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"20 10 * * *","once":false,"x":184.7618408203125,"y":404.5238342285156,"wires":[["a91b4f6d.cc3eb8"]]},{"id":"a91b4f6d.cc3eb8","type":"omiNodeV9","z":"4bab2b03.ac21b4","name":"Read O-MI Node Lyon Heat Wave Mitigation","path_InfoItem":"https://biotope-omi.alpha.grandlyon.com/Objects/Organization:Metropole-de-Lyon:v1-0-0","token":"","operations":"Read","ttl":"40","interval":"","callback":"","newest":"","oldest":"","begin":"","end":"","value":"","reqID":"","metadata":true,"readTypes":"read1time","x":540.9309692382812,"y":392.952392578125,"wires":[["c2530236.757698"]]},{"id":"c2530236.757698","type":"xml","z":"4bab2b03.ac21b4","name":"Lyon O-DF Structure to JSON","attr":"","chr":"","x":712.7881469726562,"y":519.5238037109375,"wires":[["e1aa97cc.21455"]]},{"id":"e1aa97cc.21455","type":"python3-function","z":"4bab2b03.ac21b4","name":"Extract Response O-MI Node Lyon HW","func":"import time\nfrom modules.extract import code\nfrom modules.extract import working\n\nresponse = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"return\"][0][\"$\"][\"returnCode\"];\nlyonHeatWaveInfoItem = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"msg\"][0][\"Objects\"][0][\"Object\"][0]\norganizationID = lyonHeatWaveInfoItem[\"id\"][0]\n \nnode.error (working(response))\nmsg[\"payload\"] = code(lyonHeatWaveInfoItem)\nreturn msg","outputs":1,"x":961.2716064453125,"y":374.523681640625,"wires":[["5cfcc3c1.81eb74","c73c68b.e3f7f18","d75d77ad.c63d7"]]},{"id":"4ac050be.81045","type":"python3-function","z":"4bab2b03.ac21b4","name":"Store on MongoDB","func":"# from modules.library import clean_netatmo_data2\nimport pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import insert_mongo\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nres = insert_mongo(db, collection, data, host)\n","outputs":1,"x":1255.2499389648438,"y":307.227783203125,"wires":[[]]},{"id":"c73c68b.e3f7f18","type":"python3-function","z":"4bab2b03.ac21b4","name":"ReadFromMongo","func":"import pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import read_mongotempmorning\nimport pandas as pd\n\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nsensor = 'Sensor:SL-T-P8'\nres = read_mongotempmorning(db, collection, sensor, host)\n\nabc = res.to_json(orient='records')\ncol = res.to_json(orient='columns')\n\nmsg['payload'] = col\nreturn msg","outputs":1,"x":1324.9163818359375,"y":360.699951171875,"wires":[["13dcfe9f.e17a19"]]},{"id":"5cfcc3c1.81eb74","type":"debug","z":"4bab2b03.ac21b4","name":"OutputOMINodeLyon","active":true,"console":"false","complete":"payload","x":1339.5501098632812,"y":416.6666259765625,"wires":[]},{"id":"13dcfe9f.e17a19","type":"json","z":"4bab2b03.ac21b4","name":"","x":1550.3333129882812,"y":334.0333251953125,"wires":[["d0e70afc.a74588","95d28235.1389c8"]]},{"id":"95d28235.1389c8","type":"python3-function","z":"4bab2b03.ac21b4","name":"Warning Preprocessor","func":"from modules.heatwave import heatwave\n\nTbefyest=msg['payload']['temperature']['0']\nTyest=msg['payload']['temperature']['1']\nTtoday=msg['payload']['temperature']['2']\nmsg[\"payload\"] = heatwave(Tbefyest,Tyest,Ttoday)\nreturn msg","outputs":1,"x":1748.6668090820312,"y":185.2833251953125,"wires":[["d0e70afc.a74588"]]},{"id":"d0e70afc.a74588","type":"debug","z":"4bab2b03.ac21b4","name":"HEATWAVE?","active":true,"console":"false","complete":"payload","x":1775.1668090820312,"y":309.0333251953125,"wires":[]},{"id":"d75d77ad.c63d7","type":"worldmap","z":"4bab2b03.ac21b4","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","path":"","x":1286.666748046875,"y":494.99993896484375,"wires":[]},{"id":"843f019d.321b9","type":"inject","z":"4bab2b03.ac21b4","name":"Execute UIaaS Request Night","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 10 * * *","once":false,"x":154.047607421875,"y":763.33349609375,"wires":[["d3cf4a21.f20bc8"]]},{"id":"d3cf4a21.f20bc8","type":"omiNodeV9","z":"4bab2b03.ac21b4","name":"Read O-MI Node Lyon Heat Wave Mitigation","path_InfoItem":"https://biotope-omi.alpha.grandlyon.com/Objects/Organization:Metropole-de-Lyon:v1-0-0","token":"","operations":"Read","ttl":"40","interval":"","callback":"","newest":"","oldest":"","begin":"","end":"","value":"","reqID":"","metadata":true,"readTypes":"read1time","x":530.2166442871094,"y":760.3333129882812,"wires":[["e067aa79.222e1"]]},{"id":"e067aa79.222e1","type":"xml","z":"4bab2b03.ac21b4","name":"Lyon O-DF Structure to JSON","attr":"","chr":"","x":529.2166137695312,"y":838.3333129882812,"wires":[["367ff8da.326048"]]},{"id":"367ff8da.326048","type":"python3-function","z":"4bab2b03.ac21b4","name":"Extract Response O-MI Node Lyon HW","func":"import time\nfrom modules.extract import code\nfrom modules.extract import working\n\nresponse = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"return\"][0][\"$\"][\"returnCode\"];\nlyonHeatWaveInfoItem = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"msg\"][0][\"Objects\"][0][\"Object\"][0]\norganizationID = lyonHeatWaveInfoItem[\"id\"][0]\n \nnode.error (working(response))\nmsg[\"payload\"] = code(lyonHeatWaveInfoItem)\nreturn msg","outputs":1,"x":950.0810546875,"y":767.7141723632812,"wires":[["a4efaa65.61e318","b08cc207.327bb8","ab6d0c74.010048"]]},{"id":"9aebeb1f.1ba8f8","type":"python3-function","z":"4bab2b03.ac21b4","name":"Store on MongoDB","func":"# from modules.library import clean_netatmo_data2\nimport pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import insert_mongo\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nres = insert_mongo(db, collection, data, host)\n","outputs":1,"x":1220.2499389648438,"y":678.8944396972656,"wires":[[]]},{"id":"b08cc207.327bb8","type":"python3-function","z":"4bab2b03.ac21b4","name":"ReadFromMongo","func":"import pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import read_mongotempnight\nimport pandas as pd\n\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nsensor = 'Sensor:SL-T-P8'\nres = read_mongotempnight(db, collection, sensor, host)\n\nabc = res.to_json(orient='records')\ncol = res.to_json(orient='columns')\n\nmsg['payload'] = col\nreturn msg","outputs":1,"x":1276.8212890625,"y":735.6998901367188,"wires":[["f777fb36.91a4e8"]]},{"id":"a4efaa65.61e318","type":"debug","z":"4bab2b03.ac21b4","name":"OutputOMINodeLyon","active":true,"console":"false","complete":"payload","x":1304.5501098632812,"y":788.3332824707031,"wires":[]},{"id":"f777fb36.91a4e8","type":"json","z":"4bab2b03.ac21b4","name":"","x":1515.3333129882812,"y":705.6999816894531,"wires":[["6c3a4a64.3a548c","fd76edd4.cd5d5"]]},{"id":"fd76edd4.cd5d5","type":"python3-function","z":"4bab2b03.ac21b4","name":"Warning Preprocessor","func":"from modules.heatwave import heatwave\n\nTbefyest=msg['payload']['temperature']['0']\nTyest=msg['payload']['temperature']['1']\nTtoday=msg['payload']['temperature']['2']\nmsg[\"payload\"] = heatwave(Tbefyest,Tyest,Ttoday)\nreturn msg","outputs":1,"x":1713.6668090820312,"y":556.9499816894531,"wires":[["6c3a4a64.3a548c"]]},{"id":"6c3a4a64.3a548c","type":"debug","z":"4bab2b03.ac21b4","name":"HEATWAVE?","active":true,"console":"false","complete":"payload","x":1740.1668090820312,"y":680.6999816894531,"wires":[]},{"id":"ab6d0c74.010048","type":"worldmap","z":"4bab2b03.ac21b4","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","path":"","x":1251.666748046875,"y":866.6665954589844,"wires":[]}]
