flows/JQA/WorldCup
[{"id":"65e0b0f1.6c1de8","type":"tab","label":"Smart Parking"},{"id":"7c69c214.0add7c","type":"inject","z":"65e0b0f1.6c1de8","name":"Health Emergency!","topic":"Health","payload":"<omiEnvelope version=\"1.0\"    xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\">      <response>            <result>    <return returnCode=\"200\">        </return>  <msg>   <Objects xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\">     <Object type= \"Doha city\"> <id>Emergency Units Doha: Qatar</id>     <Object type = \"Organization Unit\">          <id >Fire Unit</id>   <Object type= \"Firefighters vehicle\">   <id>Vehicle1</id>  <InfoItem name = \"geo:long\">   <value>51.56389</value>            </InfoItem>    <InfoItem name = \"geo:lat\">   <value>25.2805 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>74385403G </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Ramon Garcia</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>27-02-1968 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleextinguisher1</id>   <InfoItem name= \"plate\">   <value>A0937C</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Mercedes Fireextinguisher</value>            </InfoItem>  </Object>   </Object> <Object type= \"Firefighters vehicle\">   <id>Vehicle2</id>  <InfoItem name = \"geo:long\">   <value>51.506833</value>            </InfoItem>    <InfoItem name = \"geo:lat\">   <value>25.301348</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>75585403C </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Abgsehd Poer</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>07-12-1988 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleextinguisher2</id>   <InfoItem name= \"plate\">   <value>C98217G</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Volkswagen Fireextinguisher</value>            </InfoItem>  </Object>   </Object>  </Object>   <Object type= \"Organization Unit\">          <id >Health Unit</id>   <Object type= \"Ambulance\">   <id>Vehicle1</id>  <InfoItem name= \"geo:long\">   <value>51.589359</value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.27537</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>7497303G </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Levaud Malikovich</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>10-02-1977</value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleamb1</id>   <InfoItem name= \"plate\">   <value>G73625D</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Mercedes Ambulance</value>            </InfoItem>  </Object>   </Object> <Object type= \"Ambulance\">   <id>Vehicle2</id>  <InfoItem name= \"geo:long\">   <value>51.528197</value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.278829</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>98272203C </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Said Abdelmoular</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>27-12-1981 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleamb2</id>   <InfoItem name= \"plate\">   <value>T72280P</value>            </InfoItem> <InfoItem name= \"Model\">   <value>BMW Ambulance</value>            </InfoItem>  </Object>   </Object>  </Object>        <Object type= \"Organization Unit\">          <id >Police Station</id>   <Object type= \"Police Car\">   <id>Vehicle1</id>  <InfoItem name= \"geo:long\">   <value>51.524232</value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.254405</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>45162789R </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Mariano Sanchez</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>13-08-1963 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehiclepol1</id>   <InfoItem name= \"plate\">   <value>A5557L</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Audi R8</value>            </InfoItem>  </Object>   </Object> <Object type= \"Police Motorbike\">   <id>Vehicle2</id>  <InfoItem name= \"geo:long\">   <value>51.564381</value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.2544</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>75263464X </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Macarena Badstuber</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>02-01-1988 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehiclepol2</id>   <InfoItem name= \"plate\">   <value>I8217G</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Ducati Monster</value>            </InfoItem>  </Object>   </Object>  </Object>         </Object>        </Objects>         </msg>       </result>      </response> </omiEnvelope> ","payloadType":"str","repeat":"","crontab":"","once":false,"x":303.57142857142856,"y":172.14285714285714,"wires":[["8e239a2f.d94cb8"]]},{"id":"aedc622d.e80b3","type":"inject","z":"65e0b0f1.6c1de8","name":"Safety Alarm","topic":"Safety","payload":"<omiEnvelope version=\"1.0\"    xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\">      <response>            <result>    <return returnCode=\"200\">        </return>  <msg>   <Objects xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\">     <Object type= \"Doha city\"> <id>Emergency Units Doha: Qatar</id>     <Object type = \"Organization Unit\">          <id >Fire Unit</id>   <Object type= \"Firefighters vehicle\">   <id>Vehicle1</id>  <InfoItem name = \"geo:long\">   <value>51.56389</value>            </InfoItem>    <InfoItem name = \"geo:lat\">   <value>25.2805 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>74385403G </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Ramon Garcia</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>27-02-1968 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleextinguisher1</id>   <InfoItem name= \"plate\">   <value>A0937C</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Mercedes Fireextinguisher</value>            </InfoItem>  </Object>   </Object> <Object type= \"Firefighters vehicle\">   <id>Vehicle2</id>  <InfoItem name = \"geo:long\">   <value>51.506833</value>            </InfoItem>    <InfoItem name = \"geo:lat\">   <value>25.301348</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>75585403C </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Abgsehd Poer</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>07-12-1988 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleextinguisher2</id>   <InfoItem name= \"plate\">   <value>C98217G</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Volkswagen Fireextinguisher</value>            </InfoItem>  </Object>   </Object>  </Object>   <Object type= \"Organization Unit\">          <id >Health Unit</id>   <Object type= \"Ambulance\">   <id>Vehicle1</id>  <InfoItem name= \"geo:long\">   <value>51.589359</value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.27537</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>7497303G </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Levaud Malikovich</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>10-02-1977</value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleamb1</id>   <InfoItem name= \"plate\">   <value>G73625D</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Mercedes Ambulance</value>            </InfoItem>  </Object>   </Object> <Object type= \"Ambulance\">   <id>Vehicle2</id>  <InfoItem name= \"geo:long\">   <value>51.528197</value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.278829</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>98272203C </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Said Abdelmoular</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>27-12-1981 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleamb2</id>   <InfoItem name= \"plate\">   <value>T72280P</value>            </InfoItem> <InfoItem name= \"Model\">   <value>BMW Ambulance</value>            </InfoItem>  </Object>   </Object>  </Object>        <Object type= \"Organization Unit\">          <id >Police Station</id>   <Object type= \"Police Car\">   <id>Vehicle1</id>  <InfoItem name= \"geo:long\">   <value>51.524232</value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.254405</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>45162789R </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Mariano Sanchez</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>13-08-1963 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehiclepol1</id>   <InfoItem name= \"plate\">   <value>A5557L</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Audi R8</value>            </InfoItem>  </Object>   </Object> <Object type= \"Police Motorbike\">   <id>Vehicle2</id>  <InfoItem name= \"geo:long\">   <value>51.564381</value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.2544</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>75263464X </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Macarena Badstuber</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>02-01-1988 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehiclepol2</id>   <InfoItem name= \"plate\">   <value>I8217G</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Ducati Monster</value>            </InfoItem>  </Object>   </Object>  </Object>         </Object>        </Objects>         </msg>       </result>      </response> </omiEnvelope> ","payloadType":"str","repeat":"","crontab":"","once":false,"x":283.5714416503906,"y":260.7142639160156,"wires":[["8e239a2f.d94cb8"]]},{"id":"2aa24b33.8f1bac","type":"inject","z":"65e0b0f1.6c1de8","name":"Fire Alarm","topic":"Fire","payload":"<omiEnvelope version=\"1.0\"    xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\">      <response>            <result>    <return returnCode=\"200\">        </return>  <msg>   <Objects xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\">     <Object type= \"Doha city\"> <id>Emergency Units Doha: Qatar</id>     <Object type = \"Organization Unit\">          <id >Fire Unit</id>   <Object type= \"Firefighters vehicle\">   <id>Vehicle1</id>  <InfoItem name = \"geo:long\">   <value>51.56389</value>            </InfoItem>    <InfoItem name = \"geo:lat\">   <value>25.2805 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>74385403G </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Ramon Garcia</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>27-02-1968 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleextinguisher1</id>   <InfoItem name= \"plate\">   <value>A0937C</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Mercedes Fireextinguisher</value>            </InfoItem>  </Object>   </Object> <Object type= \"Firefighters vehicle\">   <id>Vehicle2</id>  <InfoItem name = \"geo:long\">   <value>51.506833</value>            </InfoItem>    <InfoItem name = \"geo:lat\">   <value>25.301348</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>75585403C </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Abgsehd Poer</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>07-12-1988 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleextinguisher2</id>   <InfoItem name= \"plate\">   <value>C98217G</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Volkswagen Fireextinguisher</value>            </InfoItem>  </Object>   </Object>  </Object>   <Object type= \"Organization Unit\">          <id >Health Unit</id>   <Object type= \"Ambulance\">   <id>Vehicle1</id>  <InfoItem name= \"geo:long\">   <value>51.589359</value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.27537</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>7497303G </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Levaud Malikovich</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>10-02-1977</value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleamb1</id>   <InfoItem name= \"plate\">   <value>G73625D</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Mercedes Ambulance</value>            </InfoItem>  </Object>   </Object> <Object type= \"Ambulance\">   <id>Vehicle2</id>  <InfoItem name= \"geo:long\">   <value>51.528197</value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.278829</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>98272203C </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Said Abdelmoular</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>27-12-1981 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleamb2</id>   <InfoItem name= \"plate\">   <value>T72280P</value>            </InfoItem> <InfoItem name= \"Model\">   <value>BMW Ambulance</value>            </InfoItem>  </Object>   </Object>  </Object>        <Object type= \"Organization Unit\">          <id >Police Station</id>   <Object type= \"Police Car\">   <id>Vehicle1</id>  <InfoItem name= \"geo:long\">   <value>51.524232</value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.254405</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>45162789R </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Mariano Sanchez</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>13-08-1963 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehiclepol1</id>   <InfoItem name= \"plate\">   <value>A5557L</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Audi R8</value>            </InfoItem>  </Object>   </Object> <Object type= \"Police Motorbike\">   <id>Vehicle2</id>  <InfoItem name= \"geo:long\">   <value>51.564381</value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.2544</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>75263464X </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Macarena Badstuber</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>02-01-1988 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehiclepol2</id>   <InfoItem name= \"plate\">   <value>I8217G</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Ducati Monster</value>            </InfoItem>  </Object>   </Object>  </Object>         </Object>        </Objects>         </msg>       </result>      </response> </omiEnvelope> ","payloadType":"str","repeat":"","crontab":"","once":false,"x":280.7142639160156,"y":335,"wires":[["8e239a2f.d94cb8"]]},{"id":"8e239a2f.d94cb8","type":"xml","z":"65e0b0f1.6c1de8","name":"example to JSON","attr":"","chr":"","x":494.2857666015625,"y":334.1428527832031,"wires":[["caf9266d.7d86c8","8dadaa8a.cea68"]]},{"id":"caf9266d.7d86c8","type":"debug","z":"65e0b0f1.6c1de8","name":"","active":true,"console":"false","complete":"false","x":674.2857055664062,"y":208.14285278320312,"wires":[]},{"id":"91f5709d.c037d","type":"debug","z":"65e0b0f1.6c1de8","name":"","active":true,"console":"false","complete":"payload","x":1136.875,"y":210,"wires":[]},{"id":"8dadaa8a.cea68","type":"python3-function","z":"65e0b0f1.6c1de8","name":"Extract Response FIFA Smart Parking","func":"import time\nfrom modules.extractFIFA import code\nfrom modules.extractFIFA import working\n\nresponse = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"return\"][0][\"$\"][\"returnCode\"];\nalarm = msg[\"topic\"]\ndohacity = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"msg\"][0][\"Objects\"][0][\"Object\"][0]\norganizationID = dohacity[\"id\"][0]\n \nnode.error (working(response))\nmsg[\"payload\"] = code(dohacity,alarm)\nreturn msg","outputs":1,"x":800.6785278320312,"y":345.0357360839844,"wires":[["91f5709d.c037d","cc75fb9c.3c1468","834f2a7f.401848"]]},{"id":"cc75fb9c.3c1468","type":"worldmap","z":"65e0b0f1.6c1de8","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","path":"","x":1007.75,"y":508.75,"wires":[]},{"id":"834f2a7f.401848","type":"python3-function","z":"65e0b0f1.6c1de8","name":"Evaluate Distances","func":"import math\nfrom modules.haversine import haversine\nx = msg['payload']\nlat1 = x [0]['lat']\nlon1 = x [0]['lon']\nlat2 = x [1]['lat']\nlon2 = x [1]['lon']\nresult = haversine (lat1,lon1,lat2,lon2)\nx[result].update({'Gate' : 5})\ny = [x[result]]\nmsg['payload']= y\nreturn msg","outputs":1,"x":1186.875,"y":330.625,"wires":[["e8cf6bce.0b51d","27b097b5.d38228"]]},{"id":"e8cf6bce.0b51d","type":"debug","z":"65e0b0f1.6c1de8","name":"","active":true,"console":"false","complete":"false","x":1408.125,"y":211.25,"wires":[]},{"id":"27b097b5.d38228","type":"python3-function","z":"65e0b0f1.6c1de8","name":"Right Gate","func":"import math\nfrom modules.haversine import rightgate\nx = msg['payload'][0]\nlat1 = x ['lat']\nlon1 = x ['lon']\n\nresult = rightgate (lat1,lon1)\nmsg['payload']= result\nreturn msg","outputs":1,"x":1493.75,"y":331.25,"wires":[["2953839d.6f73cc"]]},{"id":"2953839d.6f73cc","type":"debug","z":"65e0b0f1.6c1de8","name":"","active":true,"console":"false","complete":"false","x":1703.125,"y":218.75,"wires":[]},{"id":"b3c70adf.a550b","type":"python3-function","z":"65e0b0f1.6c1de8","name":"Store on MongoParking","func":"# from modules.library import clean_netatmo_data2\nimport pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import insert_mongo\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'smartpark'\nres = insert_mongo(db, collection, data, host)\n","outputs":1,"x":1437.5,"y":423.75,"wires":[[]]},{"id":"5c144c90.05fce4","type":"python3-function","z":"65e0b0f1.6c1de8","name":"ReadFromMongoParking","func":"import pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import read_mongoparking1\nimport pandas as pd\n\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'smartpark'\nsensor = msg['payload']\nres = read_mongoparking1(db, collection, sensor, host)\n\nabc = res.to_json(orient='records')\ncol = res.to_json(orient='columns')\n\nif col == \"{}\":\n    msg['payload'] = \"ACCESS DENIED\"\nelse:\n    msg['payload'] = \"OPEN GATE\"\n\nreturn msg","outputs":1,"x":1434.107177734375,"y":714.2857055664062,"wires":[["621bd0dc.9064c8"]]},{"id":"f7d3d607.d5b92","type":"inject","z":"65e0b0f1.6c1de8","name":"Closest PolicePlate","topic":"","payload":"I8217G","payloadType":"str","repeat":"","crontab":"","once":false,"x":1190.0892333984375,"y":648.4821166992188,"wires":[["5c144c90.05fce4"]]},{"id":"621bd0dc.9064c8","type":"debug","z":"65e0b0f1.6c1de8","name":"GATE 1","active":true,"console":"false","complete":"payload","x":1691.607177734375,"y":718.0357055664062,"wires":[]},{"id":"60374476.9d65fc","type":"inject","z":"65e0b0f1.6c1de8","name":"Romeo's Plate","topic":"","payload":"G5334T","payloadType":"str","repeat":"","crontab":"","once":false,"x":1197.9464111328125,"y":754.1964111328125,"wires":[["5c144c90.05fce4"]]},{"id":"7722b00.1d5b85","type":"python3-function","z":"65e0b0f1.6c1de8","name":"ReadFromMongoParking","func":"import pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import read_mongoparking2\nimport pandas as pd\n\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'smartpark'\nsensor = msg['payload']\nres = read_mongoparking2(db, collection, sensor, host)\n\nabc = res.to_json(orient='records')\ncol = res.to_json(orient='columns')\n\nif col == \"{}\":\n    msg['payload'] = \"ACCESS DENIED\"\nelse:\n    msg['payload'] = \"OPEN GATE\"\n\nreturn msg","outputs":1,"x":1444.2857666015625,"y":908.5714721679688,"wires":[["26c8c187.58482e"]]},{"id":"26c8c187.58482e","type":"debug","z":"65e0b0f1.6c1de8","name":"GATE 2","active":true,"console":"false","complete":"payload","x":1677.5,"y":923.75,"wires":[]},{"id":"3902bab3.27d416","type":"inject","z":"65e0b0f1.6c1de8","name":"Robert's Plate","topic":"","payload":"E9872B","payloadType":"str","repeat":"","crontab":"","once":false,"x":1180.9820556640625,"y":962.767822265625,"wires":[["7722b00.1d5b85"]]},{"id":"25bff3c6.97cb7c","type":"python3-function","z":"65e0b0f1.6c1de8","name":"ReadFromMongoParking","func":"import pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import read_mongoparking3\nimport pandas as pd\n\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'smartpark'\nsensor = msg['payload']\nres = read_mongoparking3(db, collection, sensor, host)\n\nabc = res.to_json(orient='records')\ncol = res.to_json(orient='columns')\n\nif col == \"{}\":\n    msg['payload'] = \"ACCESS DENIED\"\nelse:\n    msg['payload'] = \"OPEN GATE\"\n\nreturn msg","outputs":1,"x":1420,"y":1119.9999389648438,"wires":[["76e0b035.52cae8"]]},{"id":"76e0b035.52cae8","type":"debug","z":"65e0b0f1.6c1de8","name":"GATE 3","active":true,"console":"false","complete":"payload","x":1677.5,"y":1123.7499389648438,"wires":[]},{"id":"4660b4b9.64c4b4","type":"inject","z":"65e0b0f1.6c1de8","name":"Mateo's Plate","topic":"","payload":"E5554H","payloadType":"str","repeat":"","crontab":"","once":false,"x":1149.553466796875,"y":1179.9107666015625,"wires":[["25bff3c6.97cb7c"]]},{"id":"28bf659c.353c7a","type":"python3-function","z":"65e0b0f1.6c1de8","name":"Store on MongoParking","func":"# from modules.library import clean_netatmo_data2\nimport pymongo\nfrom pymongo import MongoClient\nfrom modules.mongofun import insert_mongo\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'smartpark'\nres = insert_mongo(db, collection, data, host)\n","outputs":1,"x":854.2858276367188,"y":667.1429443359375,"wires":[[]]},{"id":"6886066c.1c04a","type":"debug","z":"65e0b0f1.6c1de8","name":"","active":true,"console":"false","complete":"false","x":557.8571166992188,"y":790.0000610351562,"wires":[]},{"id":"2276c1bd.2d3b76","type":"inject","z":"65e0b0f1.6c1de8","name":"Robert, Semis, Parking, Category 2","topic":"YES","payload":"[{\"Name\": \"Robert Injac\", \"DNI\":\"8756438R\", \"Parking\": \"Yes\", \"Plate\":\"E9872B\", \"StadiumZone\": \"Category 2\", \"Match\": \"Semifinals\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":269.2857666015625,"y":645,"wires":[["df1f84f6.65e18","6886066c.1c04a"]]},{"id":"df1f84f6.65e18","type":"python3-function","z":"65e0b0f1.6c1de8","name":"EspectatorParking","func":"import math\nfrom modules.worldcup import function\nx = msg['payload']\nmatch = x [0]['Match']\ncategory = x [0]['StadiumZone']\npark = x [0]['Parking']\nplate = x [0]['Plate']\n\nresult = function (match, category, park, plate)\n\nmsg['payload']= result\nreturn msg","outputs":1,"x":577.1428833007812,"y":662.8572387695312,"wires":[["28d8c2ce.58f2be"]]},{"id":"28d8c2ce.58f2be","type":"debug","z":"65e0b0f1.6c1de8","name":"","active":true,"console":"false","complete":"false","x":755.71435546875,"y":521.4285888671875,"wires":[]},{"id":"b7e5f487.131648","type":"inject","z":"65e0b0f1.6c1de8","name":"Mateo, Semis, No Parking,Category 3","topic":"YES","payload":"[{\"Name\": \"Mateo Fibonacci\", \"DNI\":\"6758838R\", \"Parking\": \"No\", \"Plate\":\"E5554H\", \"StadiumZone\": \"Category 3\", \"Match\": \"Semifinals\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":272.8570556640625,"y":514.2856750488281,"wires":[["df1f84f6.65e18","6886066c.1c04a"]]},{"id":"85f2b3ef.df10b","type":"inject","z":"65e0b0f1.6c1de8","name":"Romeo, Groups1, Parking, Category 4","topic":"YES","payload":"[{\"Name\": \"Romeo Iglesias\", \"DNI\":\"3228838F\", \"Parking\": \"Yes\", \"Plate\":\"G5334T\", \"StadiumZone\": \"Category 4\", \"Match\": \"Groups1\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":252.85714721679688,"y":780,"wires":[["6886066c.1c04a","df1f84f6.65e18"]]},{"id":"4c06532f.6f6c54","type":"inject","z":"65e0b0f1.6c1de8","name":"Closest PolicePlate","topic":"","payload":"I8217G","payloadType":"str","repeat":"","crontab":"","once":false,"x":1194.2857666015625,"y":854.2857055664062,"wires":[["7722b00.1d5b85"]]},{"id":"541d74b.e6db10c","type":"inject","z":"65e0b0f1.6c1de8","name":"Closest PolicePlate","topic":"","payload":"I8217G","payloadType":"str","repeat":"","crontab":"","once":false,"x":1171.4285888671875,"y":1075.71435546875,"wires":[["25bff3c6.97cb7c"]]}]
