flows/JQA/WorldCup
[{"id":"97ea495e.a85c48","type":"tab","label":"Smart Parking"},{"id":"8265a57c.ac4928","type":"inject","z":"97ea495e.a85c48","name":"Health Emergency!","topic":"Health","payload":"<omiEnvelope version=\"1.0\"    xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\">      <response>            <result>    <return returnCode=\"200\">        </return>  <msg>   <Objects xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\">     <Object type= \"Doha city\"> <id>Emergency Units Doha: Qatar</id>     <Object type = \"Organization Unit\">          <id >Fire Unit</id>   <Object type= \"Firefighters vehicle\">   <id>Vehicle1</id>  <InfoItem name = \"geo:long\">   <value>51.56389</value>            </InfoItem>    <InfoItem name = \"geo:lat\">   <value>25.2805 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>74385403G </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Ramon Garcia</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>27-02-1968 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleextinguisher1</id>   <InfoItem name= \"plate\">   <value>A0937C</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Mercedes Fireextinguisher</value>            </InfoItem>  </Object>   </Object> <Object type= \"Firefighters vehicle\">   <id>Vehicle2</id>  <InfoItem name = \"geo:long\">   <value>53.89012</value>            </InfoItem>    <InfoItem name = \"geo:lat\">   <value>25.27905</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>75585403C </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Abgsehd Poer</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>07-12-1988 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleextinguisher2</id>   <InfoItem name= \"plate\">   <value>C98217G</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Volkswagen Fireextinguisher</value>            </InfoItem>  </Object>   </Object>  </Object>   <Object type= \"Organization Unit\">          <id >Health Unit</id>   <Object type= \"Ambulance\">   <id>Vehicle1</id>  <InfoItem name= \"geo:long\">   <value>51.66389 </value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.2705 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>7497303G </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Levaud Malikovich</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>10-02-1977</value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleamb1</id>   <InfoItem name= \"plate\">   <value>G73625D</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Mercedes Ambulance</value>            </InfoItem>  </Object>   </Object> <Object type= \"Ambulance\">   <id>Vehicle2</id>  <InfoItem name= \"geo:long\">   <value>52.89012 </value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>26.27905 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>98272203C </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Said Abdelmoular</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>27-12-1981 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleamb2</id>   <InfoItem name= \"plate\">   <value>T72280P</value>            </InfoItem> <InfoItem name= \"Model\">   <value>BMW Ambulance</value>            </InfoItem>  </Object>   </Object>  </Object>        <Object type= \"Organization Unit\">          <id >Police Station</id>   <Object type= \"Police Car\">   <id>Vehicle1</id>  <InfoItem name= \"geo:long\">   <value>51.56381 </value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.2825 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>45162789R </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Mariano Sanchez</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>13-08-1963 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehiclepol1</id>   <InfoItem name= \"plate\">   <value>A5557L</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Audi R8</value>            </InfoItem>  </Object>   </Object> <Object type= \"Police Motorbike\">   <id>Vehicle2</id>  <InfoItem name= \"geo:long\">   <value>52.89012 </value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.17905 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>75263464X </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Macarena Badstuber</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>02-01-1988 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehiclepol2</id>   <InfoItem name= \"plate\">   <value>I8217G</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Ducati Monster</value>            </InfoItem>  </Object>   </Object>  </Object>         </Object>        </Objects>         </msg>       </result>      </response> </omiEnvelope> ","payloadType":"str","repeat":"","crontab":"","once":false,"x":303.57142857142856,"y":172.14285714285714,"wires":[["656d1fac.3db348"]]},{"id":"37cfa5cd.1807da","type":"inject","z":"97ea495e.a85c48","name":"Safety Alarm","topic":"Safety","payload":"<omiEnvelope version=\"1.0\"    xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\">      <response>            <result>    <return returnCode=\"200\">        </return>  <msg>   <Objects xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\">     <Object type= \"Doha city\"> <id>Emergency Units Doha: Qatar</id>     <Object type = \"Organization Unit\">          <id >Fire Unit</id>   <Object type= \"Firefighters vehicle\">   <id>Vehicle1</id>  <InfoItem name = \"geo:long\">   <value>51.56389</value>            </InfoItem>    <InfoItem name = \"geo:lat\">   <value>25.2805 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>74385403G </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Ramon Garcia</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>27-02-1968 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleextinguisher1</id>   <InfoItem name= \"plate\">   <value>A0937C</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Mercedes Fireextinguisher</value>            </InfoItem>  </Object>   </Object> <Object type= \"Firefighters vehicle\">   <id>Vehicle2</id>  <InfoItem name = \"geo:long\">   <value>53.89012</value>            </InfoItem>    <InfoItem name = \"geo:lat\">   <value>25.27905</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>75585403C </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Abgsehd Poer</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>07-12-1988 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleextinguisher2</id>   <InfoItem name= \"plate\">   <value>C98217G</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Volkswagen Fireextinguisher</value>            </InfoItem>  </Object>   </Object>  </Object>   <Object type= \"Organization Unit\">          <id >Health Unit</id>   <Object type= \"Ambulance\">   <id>Vehicle1</id>  <InfoItem name= \"geo:long\">   <value>51.66389 </value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.2705 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>7497303G </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Levaud Malikovich</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>10-02-1977</value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleamb1</id>   <InfoItem name= \"plate\">   <value>G73625D</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Mercedes Ambulance</value>            </InfoItem>  </Object>   </Object> <Object type= \"Ambulance\">   <id>Vehicle2</id>  <InfoItem name= \"geo:long\">   <value>52.89012 </value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>26.27905 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>98272203C </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Said Abdelmoular</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>27-12-1981 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleamb2</id>   <InfoItem name= \"plate\">   <value>T72280P</value>            </InfoItem> <InfoItem name= \"Model\">   <value>BMW Ambulance</value>            </InfoItem>  </Object>   </Object>  </Object>        <Object type= \"Organization Unit\">          <id >Police Station</id>   <Object type= \"Police Car\">   <id>Vehicle1</id>  <InfoItem name= \"geo:long\">   <value>51.56381 </value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.2825 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>45162789R </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Mariano Sanchez</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>13-08-1963 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehiclepol1</id>   <InfoItem name= \"plate\">   <value>A5557L</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Audi R8</value>            </InfoItem>  </Object>   </Object> <Object type= \"Police Motorbike\">   <id>Vehicle2</id>  <InfoItem name= \"geo:long\">   <value>52.89012 </value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.17905 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>75263464X </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Macarena Badstuber</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>02-01-1988 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehiclepol2</id>   <InfoItem name= \"plate\">   <value>I8217G</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Ducati Monster</value>            </InfoItem>  </Object>   </Object>  </Object>         </Object>        </Objects>         </msg>       </result>      </response> </omiEnvelope> ","payloadType":"str","repeat":"","crontab":"","once":false,"x":283.5714416503906,"y":260.7142639160156,"wires":[["656d1fac.3db348"]]},{"id":"7537d2d9.fce114","type":"inject","z":"97ea495e.a85c48","name":"Fire Alarm","topic":"Fire","payload":"<omiEnvelope version=\"1.0\"    xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\">      <response>            <result>    <return returnCode=\"200\">        </return>  <msg>   <Objects xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\">     <Object type= \"Doha city\"> <id>Emergency Units Doha: Qatar</id>     <Object type = \"Organization Unit\">          <id >Fire Unit</id>   <Object type= \"Firefighters vehicle\">   <id>Vehicle1</id>  <InfoItem name = \"geo:long\">   <value>51.56389</value>            </InfoItem>    <InfoItem name = \"geo:lat\">   <value>25.2805 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>74385403G </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Ramon Garcia</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>27-02-1968 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleextinguisher1</id>   <InfoItem name= \"plate\">   <value>A0937C</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Mercedes Fireextinguisher</value>            </InfoItem>  </Object>   </Object> <Object type= \"Firefighters vehicle\">   <id>Vehicle2</id>  <InfoItem name = \"geo:long\">   <value>53.89012</value>            </InfoItem>    <InfoItem name = \"geo:lat\">   <value>25.27905</value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>75585403C </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Abgsehd Poer</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>07-12-1988 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleextinguisher2</id>   <InfoItem name= \"plate\">   <value>C98217G</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Volkswagen Fireextinguisher</value>            </InfoItem>  </Object>   </Object>  </Object>   <Object type= \"Organization Unit\">          <id >Health Unit</id>   <Object type= \"Ambulance\">   <id>Vehicle1</id>  <InfoItem name= \"geo:long\">   <value>51.66389 </value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.2705 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>7497303G </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Levaud Malikovich</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>10-02-1977</value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleamb1</id>   <InfoItem name= \"plate\">   <value>G73625D</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Mercedes Ambulance</value>            </InfoItem>  </Object>   </Object> <Object type= \"Ambulance\">   <id>Vehicle2</id>  <InfoItem name= \"geo:long\">   <value>52.89012 </value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>26.27905 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>98272203C </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Said Abdelmoular</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>27-12-1981 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehicleamb2</id>   <InfoItem name= \"plate\">   <value>T72280P</value>            </InfoItem> <InfoItem name= \"Model\">   <value>BMW Ambulance</value>            </InfoItem>  </Object>   </Object>  </Object>        <Object type= \"Organization Unit\">          <id >Police Station</id>   <Object type= \"Police Car\">   <id>Vehicle1</id>  <InfoItem name= \"geo:long\">   <value>51.56381 </value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.2825 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>45162789R </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Mariano Sanchez</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>13-08-1963 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehiclepol1</id>   <InfoItem name= \"plate\">   <value>A5557L</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Audi R8</value>            </InfoItem>  </Object>   </Object> <Object type= \"Police Motorbike\">   <id>Vehicle2</id>  <InfoItem name= \"geo:long\">   <value>52.89012 </value>            </InfoItem>    <InfoItem name= \"geo:lat\">   <value>25.17905 </value>            </InfoItem>  <Object type= \"Responsible\">   <id>person </id>   <InfoItem name= \"DNI\">   <value>75263464X </value>            </InfoItem> <InfoItem name= \"Name\">   <value>Macarena Badstuber</value>            </InfoItem> <InfoItem name= \"Date of birth\">   <value>02-01-1988 </value>            </InfoItem>         </Object>  <Object type= \"Vehicle\">   <id>vehiclepol2</id>   <InfoItem name= \"plate\">   <value>I8217G</value>            </InfoItem> <InfoItem name= \"Model\">   <value>Ducati Monster</value>            </InfoItem>  </Object>   </Object>  </Object>         </Object>        </Objects>         </msg>       </result>      </response> </omiEnvelope> ","payloadType":"str","repeat":"","crontab":"","once":false,"x":280.7142639160156,"y":335,"wires":[["656d1fac.3db348"]]},{"id":"656d1fac.3db348","type":"xml","z":"97ea495e.a85c48","name":"example to JSON","attr":"","chr":"","x":494.2857666015625,"y":334.1428527832031,"wires":[["41657c68.e178dc","8d4ecd8b.ef129"]]},{"id":"41657c68.e178dc","type":"debug","z":"97ea495e.a85c48","name":"","active":true,"console":"false","complete":"false","x":674.2857055664062,"y":208.14285278320312,"wires":[]},{"id":"cf77abd5.bc51b8","type":"debug","z":"97ea495e.a85c48","name":"","active":true,"console":"false","complete":"payload","x":1136.875,"y":210,"wires":[]},{"id":"8d4ecd8b.ef129","type":"python3-function","z":"97ea495e.a85c48","name":"Extract Response FIFA Smart Parking","func":"import time\nfrom modules.extractFIFA import code\nfrom modules.extractFIFA import working\n\nresponse = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"return\"][0][\"$\"][\"returnCode\"];\nalarm = msg[\"topic\"]\ndohacity = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"msg\"][0][\"Objects\"][0][\"Object\"][0]\norganizationID = dohacity[\"id\"][0]\n \nnode.error (working(response))\nmsg[\"payload\"] = code(dohacity,alarm)\nreturn msg","outputs":1,"x":799.25,"y":330.75,"wires":[["cf77abd5.bc51b8","35157740.f3e7b","9060f75b.a4b1e"]]},{"id":"28dfff7.b14d1","type":"worldmap","z":"97ea495e.a85c48","name":"","lat":"25.288855","lon":"51.565209","zoom":"","layer":"OSM","cluster":"","maxage":"1000","usermenu":"show","layers":"show","panit":"true","path":"/worldmap","x":320.5,"y":489.5,"wires":[]},{"id":"35157740.f3e7b","type":"worldmap","z":"97ea495e.a85c48","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","path":"","x":1007.75,"y":508.75,"wires":[]},{"id":"9060f75b.a4b1e","type":"python3-function","z":"97ea495e.a85c48","name":"Evaluate Distances","func":"import math\nfrom modules.haversine import haversine\nx = msg['payload']\nlat1 = x [0]['lat']\nlon1 = x [0]['lon']\nlat2 = x [1]['lat']\nlon2 = x [1]['lon']\nresult = haversine (lat1,lon1,lat2,lon2)\nmsg['payload']= x[result]\nreturn msg","outputs":1,"x":1186.875,"y":330.625,"wires":[["e3568c90.49ba4","1841f109.35d157"]]},{"id":"e3568c90.49ba4","type":"debug","z":"97ea495e.a85c48","name":"","active":true,"console":"false","complete":"false","x":1408.125,"y":211.25,"wires":[]},{"id":"1841f109.35d157","type":"python3-function","z":"97ea495e.a85c48","name":"Right Gate","func":"import math\nfrom modules.haversine import rightgate\nx = msg['payload']\nlat1 = x ['lat']\nlon1 = x ['lon']\n\nresult = rightgate (lat1,lon1)\nmsg['payload']= result\nreturn msg","outputs":1,"x":1493.75,"y":331.25,"wires":[["86a774b3.b2b59"]]},{"id":"86a774b3.b2b59","type":"debug","z":"97ea495e.a85c48","name":"","active":true,"console":"false","complete":"false","x":1703.125,"y":218.75,"wires":[]}]
