flows/UIaaS_KnaaS_Interaction/0_user_write_geo_odf_message
[{"id":"8bc56475.9f5058","type":"python3-function","z":"ad5cb72f.836cd","name":"Simulate User!","func":"import requests\n\nomi_node = \"http://o-mi-node:8080/\"\nwrite_msg = \\\n\"\"\"<omiEnvelope xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\" version=\"1.0\" ttl=\"0\">\n  <write msgformat=\"odf\">\n    <msg>\n      <Objects xmlns=\"http://www.opengroup.org/xsd/odf/1.0/\">\n        <Object prefix=\"geo http://www.w3.org/2003/01/geo/wgs84_pos#\">\n          <id>UserID</id>\n          <InfoItem name=\"longitude\" type=\"geo:longitude\">\n            <value>4.84</value>\n          </InfoItem>\n          <InfoItem name=\"latitude\" type=\"geo:latitude\">\n            <value>45.767</value>\n          </InfoItem>\n        </Object>\n      </Objects>\n    </msg>\n  </write>\n</omiEnvelope>\"\"\"\n\n\nrequests.post(omi_node, write_msg)\n\nreturn msg","outputs":1,"x":527.5,"y":230,"wires":[["3c3ef1ca.a6a49e"]]},{"id":"731a945.26d7a6c","type":"inject","z":"ad5cb72f.836cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":294.5,"y":234,"wires":[["8bc56475.9f5058"]]},{"id":"3c3ef1ca.a6a49e","type":"debug","z":"ad5cb72f.836cd","name":"","active":true,"console":"false","complete":"false","x":716.5,"y":238,"wires":[]}]
