flows/UIaaS_KnaaS_Interaction/1_get_pois_and_temperature_humidity_data
[{"id":"fc40d62e.b30958","type":"python3-function","z":"ea916d62.7f6e08","name":"Store on MongoDB","func":"from modules.library import insert_mongo, clean_osm_data\n\nosm_data = msg['payload']\ndata = clean_osm_data(osm_data)\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nres = insert_mongo(db, collection, data, host)\n\nreturn msg","outputs":1,"x":767.5,"y":442,"wires":[[]]},{"id":"1e963d4d.882273","type":"inject","z":"ea916d62.7f6e08","name":"Tick !","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":232,"y":282,"wires":[["a75a7d3d.c1b0e"]]},{"id":"3b43629f.b92f26","type":"function","z":"ea916d62.7f6e08","name":"Preprocess Netatmo Data","func":"var outputMsgs = [];\nvar tmp = JSON.parse(msg.payload);\nvar all = tmp['body'];\n\nfor (var x in all) {\n    var msg = {};\n    msg.payload = {};\n    var id = all[x]['_id'];\n    var location = all[x]['place']['location'];\n    var aux = '';\n    for (var z in all[x]['measures']) {\n        aux = all[x]['measures'][z];\n        break;\n    }\n\n    msg.payload.lon = location[0];\n    msg.payload.lat = location[1];\n    msg.payload.name = id;\n    for (var y in aux['res']) {\n        msg.payload.temperature = aux['res'][y][0];\n        msg.payload.pressure = aux['res'][y][1];\n    }\n    \n    msg.payload.icon = \"globe\";\n    if (msg.payload.temperature > 16) {\n        msg.payload.iconColor = \"friend\";\n    } else {\n        msg.payload.iconColor = \"orange\";\n    }\n    msg.payload.layer = \"netatmo\";\n    \n    outputMsgs.push(msg);\n}\n\nreturn [outputMsgs];","outputs":1,"noerr":0,"x":857,"y":129,"wires":[["fe364520.72c198","dc8909d5.e1fec8"]]},{"id":"86df6cc3.8d452","type":"http request","z":"ea916d62.7f6e08","name":"Lyon Netatmo","method":"GET","ret":"txt","url":"","tls":"","x":606.5,"y":127,"wires":[["3b43629f.b92f26","6fb9d12.63c603"]]},{"id":"fe364520.72c198","type":"worldmap","z":"ea916d62.7f6e08","name":"","lat":"","lon":"","zoom":"","cluster":"","maxage":"","x":1087.5,"y":237,"wires":[]},{"id":"19cfb823.f49b58","type":"inject","z":"ea916d62.7f6e08","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":537.5,"y":223,"wires":[["4e84e1e3.2a004"]]},{"id":"4e84e1e3.2a004","type":"function","z":"ea916d62.7f6e08","name":"add new layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":721.5,"y":224,"wires":[["fe364520.72c198"]]},{"id":"84e35635.00f5c8","type":"function","z":"ea916d62.7f6e08","name":"move and zoom","func":"msg.payload = { command:{layer:\"Esri Terrain\",lat:0,lon:0,zoom:3} };\nreturn msg;","outputs":1,"noerr":0,"x":728.5,"y":294,"wires":[["fe364520.72c198"]]},{"id":"4660359d.4f68a4","type":"inject","z":"ea916d62.7f6e08","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":532.5,"y":294,"wires":[["84e35635.00f5c8"]]},{"id":"a75a7d3d.c1b0e","type":"python3-function","z":"ea916d62.7f6e08","name":"Get Netatmo Token","func":"from modules.library import get_netatmo_token\nfrom yaml import load, Loader\n\nwith open('modules/config.yml', 'r') as f:\n    data = load(f, Loader=Loader)\n    \nid_ = data['netatmo_client_id']\nsecret = data['netatmo_client_secret']\nusername = data['netatmo_username']\npassword = data['netatmo_password']\ntoken = get_netatmo_token(id_,secret,username,password)\n\nrest_api = data['netatmo_rest_api']\nurl = rest_api[0] + token + rest_api[1]\n\nmsg['url'] = url\n\nreturn msg","outputs":1,"x":389.5,"y":127,"wires":[["86df6cc3.8d452"]]},{"id":"f01817e.fbb4be8","type":"python3-function","z":"ea916d62.7f6e08","name":"Store on MongoDB","func":"from modules.library import clean_netatmo_data2\nfrom modules.library import insert_mongo\n\nnetatmo_data = msg['payload']\ndata = clean_netatmo_data2(netatmo_data)\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nres = insert_mongo(db, collection, data, host)\n\nreturn msg","outputs":1,"x":980.5,"y":78,"wires":[[]]},{"id":"6fb9d12.63c603","type":"json","z":"ea916d62.7f6e08","name":"","x":778.5,"y":78,"wires":[["f01817e.fbb4be8"]]},{"id":"b7448d1b.dba1d","type":"sparql","z":"ea916d62.7f6e08","name":"OpenStreetMap","prefix":"https://sophox.org/bigdata/namespace/wdq/sparql","func":"#defaultView:Map\n# \"layer\" keyword breaks all results into multiple groups\n# Use the layers button in the upper right corner of the map to filter\nPREFIX osmt: <https://wiki.openstreetmap.org/wiki/Key:>\nPREFIX wd: <http://www.wikidata.org/entity/>\nPREFIX osmm: <https://www.openstreetmap.org/meta/>\n\nSELECT ?marketLoc ?marketName (?amenity as ?layer) ?osmid WHERE {\n\n  # We are only interested in these types of amenities\n  VALUES ?amenity { \"kindergarten\" \"school\" \"university\" \"college\" }\n\n  # Find anything with tag \"amenity\", and that has a name and location\n  ?osmid osmt:amenity ?amenity ;\n         osmt:name ?marketName ;\n         osmm:loc ?marketLoc .\n\n  # Get the center of Lyon City from Wikidata\n  wd:Q456 wdt:P625 ?myLoc .\n\n  # Calculate the distance,\n  # and filter to just those within 5km\n  BIND(geof:distance(?myLoc, ?marketLoc) as ?dist)\n  FILTER(?dist < 5)\n}","outputs":1,"x":395.5,"y":358,"wires":[["fc40d62e.b30958","161a7662.401f3a","eacb146b.3217b"]]},{"id":"161a7662.401f3a","type":"function","z":"ea916d62.7f6e08","name":"Preprocess OSM Data","func":"var outputMsgs = [];\nmsgs=msg.payload;\n\nfor (var x in msgs) {\n    var msg = {};\n    msg.payload = {};\n    //console.log(msgs[x]);\n    msg.payload.id   = msgs[x].osmid.value;\n    msg.payload.name = msgs[x].marketName.value;\n    msg.payload.layer = msgs[x].layer.value;\n    loc_tmp = msgs[x].marketLoc.value;\n    loc_tmp = loc_tmp.slice(6,-2);\n    location = loc_tmp.split(\" \");\n    msg.payload.lon = location[0];\n    msg.payload.lat = location[1];\n    msg.payload.icon = \"arrow\";\n    //console.log(msg.payload);\n    /*if (msg.payload.temp > 16) {\n        msg.payload.iconColor = \"friend\";\n    } else {\n        msg.payload.iconColor = \"orange\";\n    }*/\n    \n    outputMsgs.push(msg);\n}\n\nreturn [outputMsgs];","outputs":1,"noerr":0,"x":622.5,"y":364,"wires":[["fe364520.72c198"]]},{"id":"d1e7cc80.64099","type":"inject","z":"ea916d62.7f6e08","name":"Tick 2!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":237.5,"y":384,"wires":[["b7448d1b.dba1d"]]},{"id":"eacb146b.3217b","type":"debug","z":"ea916d62.7f6e08","name":"","active":true,"console":"false","complete":"payload","x":464.5,"y":487,"wires":[]},{"id":"dc8909d5.e1fec8","type":"debug","z":"ea916d62.7f6e08","name":"","active":true,"console":"false","complete":"false","x":1117.5,"y":134,"wires":[]}]
