flows/UIaaS_KnaaS_Interaction/2_delete_mongodb_data
[{"id":"b5211848.c45e2","type":"inject","z":"27bf2bae.7cd13c","name":"Delete !","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":230,"y":111,"wires":[["dff80a5a.61ca8"]]},{"id":"dff80a5a.61ca8","type":"python3-function","z":"27bf2bae.7cd13c","name":"Delete Collection's Data","func":"from modules.library import delete_collection_data\n\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nres = delete_collection_data(db, collection, host)\n\nprint(\"The number of deleted items were: %d.\\n\" %(res.deleted_count))\nreturn msg","outputs":1,"x":507,"y":139,"wires":[["487f49d3.51ded"]]},{"id":"487f49d3.51ded","type":"debug","z":"27bf2bae.7cd13c","name":"","active":true,"console":"false","complete":"false","x":753.5,"y":141,"wires":[]}]
