flows/UIaaS_KnaaS_Interaction/3_KnaaS_Response
[{"id":"77d374c9.e4d984","type":"python3-function","z":"cc100e3c.d59d2","name":"Find closest temp & mois","func":"from modules.library import find_near_sensors, find_near_pois\n\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\ngeo = msg[\"payload\"]#[float(4.84), float(45.767)]\n#res = find_near_sensors(db, collection, geo=geo, host=host, limit_num=1)\n\nres = find_near_pois(db=db, collection=collection, geo=geo, host=host)\nprint(res)\n\n#print(msg)\nmsg['data'] = res\n\nmsg['payload'] = {}\n\nmsg['payload']['id'] = \"UserID\"\nmsg['payload']['name'] = \"UserName\"\nmsg['payload']['layer'] = \"UserLayer\"\nmsg['payload']['lon'] = geo[0]\nmsg['payload']['lat'] = geo[1]\nmsg['payload']['icon'] = \"plane\"\n\nreturn msg","outputs":1,"x":612,"y":249,"wires":[["b998af62.6f9988","482c5123.820c38","27e26e21.eb5492"]]},{"id":"b998af62.6f9988","type":"debug","z":"cc100e3c.d59d2","name":"","active":true,"console":"false","complete":"true","x":848.5,"y":251,"wires":[]},{"id":"482c5123.820c38","type":"worldmap","z":"cc100e3c.d59d2","name":"","lat":"","lon":"","zoom":"","cluster":"","maxage":"","x":869,"y":156,"wires":[]},{"id":"51cc4da0.3173ac","type":"inject","z":"cc100e3c.d59d2","name":"Execute UIaaS Request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142,"y":83,"wires":[["e9e27a1c.be7208"]]},{"id":"e9e27a1c.be7208","type":"omiNodeV9","z":"cc100e3c.d59d2","name":"Read O-MI Node","path_InfoItem":"http://o-mi-node:8080/Objects/UserID","token":"","operations":"Read","ttl":"","interval":"","callback":"","newest":"","oldest":"","begin":"","end":"","value":"","reqID":"","metadata":true,"readTypes":"read1time","x":391,"y":80,"wires":[["6a8ee23d.c9ba74"]]},{"id":"6a8ee23d.c9ba74","type":"xml","z":"cc100e3c.d59d2","name":"","attr":"","chr":"","x":526.5,"y":26,"wires":[["548f9cb1.a546a4"]]},{"id":"548f9cb1.a546a4","type":"python3-function","z":"cc100e3c.d59d2","name":"Extract Geo-coordinates","func":"infoItem = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"msg\"][0]\ninfoItem = infoItem[\"Objects\"][0][\"Object\"][0][\"InfoItem\"]\nlatitude  = infoItem[0][\"value\"][0][\"_\"]\nlongitude = infoItem[1][\"value\"][0][\"_\"]\nmsg[\"payload\"] = [float(longitude), float(latitude)]\nreturn msg","outputs":1,"x":673.5,"y":95,"wires":[["77d374c9.e4d984"]]},{"id":"27e26e21.eb5492","type":"python3-function","z":"cc100e3c.d59d2","name":"Send KnaaS Response","func":"import requests\n\nomi_node = \"http://o-mi-node:8080/\"\n\nfor data in msg[\"data\"]:\n    lon, lat = data[\"loc\"][\"coordinates\"]\n    typeOfAmenity = data[\"layer\"]\n    name = data[\"name\"]\n    pres = data[\"pressure\"]\n    temp = data[\"temperature\"]\n    osmid = data[\"id\"]\n    poi_id = osmid.split('/')[-1]\n    \n    write_msg = \\\n    \"\"\"<omiEnvelope xmlns=\"http://www.opengroup.org/xsd/omi/1.0/\" version=\"1.0\" ttl=\"0\">\n      <write msgformat=\"odf\">\n        <msg>\n          <Objects xmlns=\"http://www.opengroup.org/xsd/odf/1.0/\">\n            <Object prefix=\"geo http://www.w3.org/2003/01/geo/wgs84_pos# obo http://purl.obolibrary.org/obo/ osm https://raw.github.com/doroam/planning-do-roam/master/Ontology/tags.owl# foaf http://xmlns.com/foaf/0.1/\">\n              <id>KnaaS_Response</id>\n              <Object>\n                  <id>POI\"\"\"+str(poi_id)+\"\"\"</id>\n                  <InfoItem name=\"homepage\" type=\"foaf:homepage\">\n                    <value>\"\"\"+str(osmid)+\"\"\"</value>\n                  </InfoItem>\n                  <InfoItem name=\"amenity\" type=\"osm:k_amenity\">\n                    <value>\"\"\"+str(typeOfAmenity)+\"\"\"</value>\n                  </InfoItem>\n                  <InfoItem name=\"name\" type=\"osm:k_name\">\n                    <value>\"\"\"+name.encode('ascii', 'xmlcharrefreplace')+\"\"\"</value>\n                  </InfoItem>\n                  <InfoItem name=\"pres\" type=\"obo:00020\">\n                    <value>\"\"\"+str(pres)+\"\"\"</value>\n                  </InfoItem>\n                  <InfoItem name=\"temp\" type=\"obo:00007\">\n                    <value>\"\"\"+str(temp)+\"\"\"</value>\n                  </InfoItem>\n                  <InfoItem name=\"longitude\" type=\"geo:longitude\">\n                    <value>\"\"\"+str(lon)+\"\"\"</value>\n                  </InfoItem>\n                  <InfoItem name=\"latitude\" type=\"geo:latitude\">\n                    <value>\"\"\"+str(lat)+\"\"\"</value>\n                  </InfoItem>\n              </Object>\n            </Object>\n          </Objects>\n        </msg>\n      </write>\n    </omiEnvelope>\"\"\"\n\n\n    requests.post(omi_node, write_msg)\n\nreturn msg","outputs":1,"x":702,"y":438,"wires":[[]]}]
