flows/tab_2._temp_surveillanceflow
[{"id":"89195b68.8c1cf8","type":"comment","z":"7fd9d7c3.000dc","name":"Comment","info":"biotoooooooope!","x":456.5,"y":45,"wires":[]},{"id":"26bd8807.c183c8","type":"openweathermap","z":"7fd9d7c3.000dc","name":"","wtype":"current","lon":"","lat":"","city":"Lyon","country":"France","language":"en","x":475.5,"y":110,"wires":[["4b9aef79.d6d24"]]},{"id":"3b063a44.247006","type":"debug","z":"7fd9d7c3.000dc","name":"","active":true,"console":"false","complete":"true","x":1046.5,"y":70,"wires":[]},{"id":"19027933.8cabbf","type":"inject","z":"7fd9d7c3.000dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":264.5,"y":110,"wires":[["26bd8807.c183c8"]]},{"id":"4b9aef79.d6d24","type":"function","z":"7fd9d7c3.000dc","name":"Create Info Message","func":"var temp = msg.payload.tempc\nvar location = msg.payload.location\nvar details = msg.payload.detail\n\nconsole.log(temp)\nconsole.log(location)\nconsole.log(details)\n\nvar topic = \"Lyon Weather Report\"\n\nvar message = \"We will have a \";\nmessage = message.concat(details)\nmessage = message.concat(\".\\nThe temperature will be: \")\nmessage = message.concat(temp)\nmessage = message.concat(\"°C.\\n\")\n\nmsg.payload = message\nmsg.topic = topic\n\nreturn msg;","outputs":1,"noerr":0,"x":732.5,"y":111,"wires":[["c9ea7edc.1cb88","3b063a44.247006","37557488.649384"]]},{"id":"c9ea7edc.1cb88","type":"ui_toast","z":"7fd9d7c3.000dc","position":"top right","displayTime":"120","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1009.5,"y":261,"wires":[]},{"id":"37557488.649384","type":"twitter out","z":"7fd9d7c3.000dc","twitter":"","name":"Tweet","x":1045.5,"y":132,"wires":[]}]
