flows/tab_4_visualization.flow
[{"id":"8c9250cf.d604","type":"function","z":"78b26cc9.94d07c","name":"Filter : humidity","func":"var tmp = msg.payload\nvar msg;\nmsg.payload = tmp.pres;\nconsole.log(msg.payload)\nmsg.topic = \"Humidity\"\nreturn msg;\n    ","outputs":1,"noerr":0,"x":654,"y":373,"wires":[["65796903.3ac0d8","1fe62116.c7073f"]]},{"id":"28e6ed04.94737a","type":"ui_ui_control","z":"78b26cc9.94d07c","name":"ui control","x":954,"y":209,"wires":[[]]},{"id":"df629c9a.669c28","type":"ui_button","z":"78b26cc9.94d07c","name":"","group":"38717eae.250bda","order":0,"width":0,"height":0,"label":"Go to Tab MySensors","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Vers Tab capteurs MySensors","x":334,"y":209,"wires":[["377f7285.1aace6"]]},{"id":"377f7285.1aace6","type":"function","z":"78b26cc9.94d07c","name":"Go to MySensors","func":"var msg = {};\nmsg.payload = {tab:\"MySensors\"};    // ou/or 1\n\n\nreturn msg;","outputs":1,"noerr":0,"x":684,"y":209,"wires":[["28e6ed04.94737a"]]},{"id":"b98507a.a6ea6f8","type":"function","z":"78b26cc9.94d07c","name":"Filter : temperature","func":"var tmp = msg.payload\nvar msg;\nmsg.payload = tmp.temp;\nmsg.topic = \"Temperature\"\nreturn msg;","outputs":1,"noerr":0,"x":664,"y":329,"wires":[["576f525d.1671dc","1fe62116.c7073f"]]},{"id":"576f525d.1671dc","type":"ui_gauge","z":"78b26cc9.94d07c","name":"Gauge : Temperature","group":"5431aab4.7a64e4","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Netatmo","format":"{{value}}°C","min":0,"max":"50","colors":["#66ccff","#ff8000","#ca3838"],"seg1":"","seg2":"","x":994,"y":309,"wires":[]},{"id":"65796903.3ac0d8","type":"ui_gauge","z":"78b26cc9.94d07c","name":"Gauge : Humidity","group":"5431aab4.7a64e4","order":0,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"Netatmo","format":"{{value}}%","min":0,"max":"100","colors":["#1a25ab","#e6e600","#ca3838"],"seg1":"","seg2":"","x":984,"y":349,"wires":[]},{"id":"1fe62116.c7073f","type":"ui_chart","z":"78b26cc9.94d07c","name":"Graph : Temperature & Humidity","group":"e330b7ae.f5dd38","order":0,"width":"6","height":"9","label":"Temperature & Humidity","chartType":"line","legend":"true","xformat":"mm:ss","interpolate":"linear","nodata":"Rien à afficher","ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1024,"y":389,"wires":[[],[]]},{"id":"3b371a79.65a916","type":"link in","z":"78b26cc9.94d07c","name":"","links":["394c1c71.a1d094","3b24641d.8bb2f4"],"x":328.5,"y":364,"wires":[["c7e595d8.1d5b"]]},{"id":"a331e20c.9626b8","type":"ui_button","z":"78b26cc9.94d07c","name":"","group":"38717eae.250bda","order":0,"width":0,"height":0,"label":"Go to Correlation Table","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Vers Tab capteurs MySensors","x":348,"y":137,"wires":[["73693596.ac4c44"]]},{"id":"73693596.ac4c44","type":"function","z":"78b26cc9.94d07c","name":"Go to MySensors","func":"var msg = {};\nmsg.payload = {tab:\"Tableau\"};    // ou/or 1\n\n\nreturn msg;","outputs":1,"noerr":0,"x":688,"y":137,"wires":[["28e6ed04.94737a"]]},{"id":"c7e595d8.1d5b","type":"switch","z":"78b26cc9.94d07c","name":"","property":"payload.pres","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":435.5,"y":364,"wires":[["8c9250cf.d604","b98507a.a6ea6f8"],["2776914f.a54b46"]]},{"id":"2776914f.a54b46","type":"debug","z":"78b26cc9.94d07c","name":"","active":true,"console":"false","complete":"payload","x":627.5,"y":451,"wires":[]},{"id":"38717eae.250bda","type":"ui_group","z":"","name":"Available Tabs:","tab":"3638eba1.8c6a34","order":1,"disp":true,"width":"8"},{"id":"5431aab4.7a64e4","type":"ui_group","z":"","name":"Measurements","tab":"d24b4d5.f2f83b","order":1,"disp":true,"width":"6"},{"id":"e330b7ae.f5dd38","type":"ui_group","z":"","name":"Graph","tab":"d24b4d5.f2f83b","order":2,"disp":true,"width":"6"},{"id":"3638eba1.8c6a34","type":"ui_tab","z":"","name":"Main Screen","icon":"home","order":2},{"id":"d24b4d5.f2f83b","type":"ui_tab","z":"","name":"MySensors","icon":"dashboard","order":3}]
